@import "../utils/variables";

.secondary-form {
  min-width: 570px;
}

.secondary-form__shell {
  // display: inline-flex;
  // flex-direction: column;
  // align-items: flex-end;
}

.secondary-form__input-shell {
  display: flex;
  flex-direction: column;
}

.secondary-form__input {
  width: 100%;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #fff;
  padding: 15px 16px;
  // width: 358px;
  // margin-right: 12px;
  height: 50px;
  margin-bottom: 20px;

  &:focus {
    outline: none;
    border-color: $colorAccent;
  }
}
