@import "../utils/variables";

.auth-nav {
  display: flex;

  &--space-set {
    margin-left: auto;
  }
}

.auth-nav__list-item:not(:first-child) {
  margin-left: 30px;
}

.auth-nav__link {
  display: inline-flex;
  align-items: center;

  color: $colorPrimaryText;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $colorAccent;
  }
}

.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
