@import "../utils/variables";

// .employee > img {
//   max-width: 100%;

//   @media screen and (min-width: 768px) {
//     max-width: none;
//     width: 354px;
//   }

//   @media screen and (min-width: 768px) {
//     max-width: none;
//     width: 270px;
//   }
// }

.employee__meta {
  padding-top: 30px;
  margin-right: 32px;
  margin-left: 32px;
  padding-bottom: 24px;
}

.employee__name {
  color: $colorTitleText;
  font-weight: 500;
  margin-bottom: 10px;
}

.employee__position {
  margin-top: 0;
  margin-bottom: 16px;
}
