@import "../utils/variables";

.bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgColorSecondary;
}

.bottom__box {
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }
}

.bottom__join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 12px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding-left: 61px;
    padding-right: 74px;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0;
    padding-right: 93px;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.bottom__adress-box {
  min-width: 231px;
  // margin-right: 73px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

@import "./contacts";

.bottom__links-box {
  text-align: center;
  min-width: 206px;

  @media screen and (min-width: 768px) {
    padding-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}

.bottom__subscribe {
  display: block;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    min-width: 570px;
  }
}

@import "../forms/secondary-form";
