@import "../utils/variables";

.bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgColorSecondary;
}

.bottom__shell {
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.bottom__adress-shell {
  min-width: 231px;
  // margin-right: 73px;
  margin-bottom: 60px;
}

@import "./contacts";

.bottom__join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 12px;
  justify-content: space-between;
  width: 100%;
}

.bottom__links-shell {
  text-align: center;
  min-width: 206px;
  margin-bottom: 60px;
}

.bottom__subscribe {
  display: block;
  width: 100%;
  // display: inline-flex;
}

@import "../forms/secondary-form";
