@import "../utils/variables";

.header--border {
  border-bottom: 1px solid #ececec;
}

.header__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__mobile-container {
  display: none;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  height: 100vh;
  background-color: #fff;

  &.is-open {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    // overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: inherit;
    height: inherit;
    padding: 0;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

// .header__top-bar {
//   display: flex;
//   align-items: center;
//   min-height: 80px;
// }

@import "./logo";
@import "./site-navigation";
@import "./auth-navigation";
@import "./menu-button";
@import "./our-socialnets-contacts";
