@import "../utils/variables";

.logo {
  display: inline-block;
  text-decoration: unset;
  font-family: $fontFamilySecondary;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  color: #000000;

  &__web-element {
    color: $colorAccent;
  }
}

.logo--footerstyle {
  color: #ffffff;
  margin-bottom: 20px;
}
