@import "../utils/variables";

.menu-button {
  position: relative;
  cursor: pointer;
  margin-left: auto;
  line-height: 0;
  display: inline-flex;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  fill: #000;
  z-index: 2;

  &:hover,
  &:focus {
    fill: $colorAccent;
  }
}

.menu-button__menu {
  display: block;

  .menu-button.is-open & {
    display: none;
  }
}

.menu-button__close {
  display: none;
  z-index: 2;

  .menu-button.is-open & {
    display: block;
  }
}
