$colorPrimaryText: #757575;
$colorTitleText: #212121;
$colorPrimaryIcon: #afb1b8;
$colorAccent: #2196f3;
$colorGradient: rgba(47, 48, 58, 0.4);

$bgColorPrimary: #ffffff;
$bgColorSecondary: #2f303a;
$bgColorMiddle: #f5f4fa;
$bgColorPrimaryInput: #21212133;

$shadowItem: 0 4px 4px rgba(0, 0, 0, 0.25);

$animationDuration: 250ms;
$animationTimeFunction: cubic-bezier(0.4, 0, 0.2, 1);

$fontFamilyPrimary: Roboto, sans-serif;
$fontFamilySecondary: Raleway, sans-serif;
$fontSizePrimary: 14px;
$fontLetterSpacingPrimary: 0.03em;
